<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>MZ JJ VIP Private Sale SS2020</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css"
    />
    <link
      href="http://www.mzjj.co.kr/image/catalog/xmzjj_logo_300x300.jpg.pagespeed.ic.NmvTA0QDqo.webp"
      rel="icon"
    />
    <link rel="stylesheet" href="./base.css" />
 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
  </head>
  <body>
    <div id="app">
      <van-overlay
        :show="isShowLoading"
        :custom-style="{
            background: 'rgb(255, 255, 255, 0.6)',
            display: 'flex',
            opacity:'0.8',
            justifyContent: 'center',
        }"
      >
        <van-loading color="rgb(227, 43, 49)"> </van-loading>
      </van-overlay>
      <div style="height: 100%;">
        <div
          v-if="ishome"
          style="width: 100%; height: 3.6rem; position: absolute; top: 0;"
        >
          <img
            src="./pic/poster.png"
            style="width: 100%; height: 100%;"
            alt=""
          />
        </div>

        <router-view></router-view>
      </div>
    </div>
    <template id="homepage">
      <div
        class="homepage"
        style="width: 100%; height: 100%; position: relative;"
      >
        <img src="./pic/home.jpg" style="width: 100%; height: 100%;" alt="" />
        <img
          @click="goto"
          src="./pic/booknow.png"
          style="
            width: 1.98rem;
            height: 0.8rem;
            position: absolute;
            top: 70%;
            left: 50%;
            z-index: 1000;
            transform: translateX(-50%);
          "
          alt=""
        />
      </div>
    </template>
    <template id="pickdate">
      <div class="pickdate" style="height: 100%;">
        <header style="position: relative;">
          <div
            style="
              position: absolute;
              width: 5.3rem;
              top: 3.3rem;
              box-shadow: 0px 0px 0.1rem #b4bccc;
              left: 50%;
              transform: translateX(-50%);
              background: white;
            "
          >
            <div
              class="timepick"
              style="
                height: 1.2rem;
                width: 5.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              @click="datechange"
            >
              <p
                style="
                  color: #e32b31;
                  width: 100%;
                  font-weight: bold;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                "
              >
                <img
                  src="./pic/arrow.png"
                  style="height: 0.24rem; position: absolute; left: 0.4rem;"
                  alt=""
                />
                <span> {{timeValue}}</span>
                <img
                  src="./pic/arrow.png"
                  style="
                    height: 0.24rem;
                    transform: rotate(180deg);
                    position: absolute;
                    right: 0.4rem;
                  "
                  alt=""
                />
              </p>
            </div>
            <!-- <van-datetime-picker
            @confirm="confirmdate"
            @cancel="datechange"
            v-show="datepick"
            v-model="currentDate"
            type="date"
            title=""
            :min-date="minDate"
            :max-date="maxDate"
          ></van-datetime-picker> -->
          </div>
          <van-calendar
            v-model="datepick"
            :min-date="minDate"
            :max-date="maxDate"
            @confirm="confirmdate"
          />
        </header>
        <div style="margin-bottom: 0.25rem;">
          <img
            src="./pic/banner.png"
            style="width: 100%; height: 0.42rem;"
            alt=""
          />
        </div>
        <ul style="margin: 0 auto; width: 5.3rem;">
          <li
            v-for="(item,idx) in timeline"
            :key="idx"
            @click="pickPeriod(item.book_status,idx,item.pick,item.set_id)"
            class="timeperiod"
            :class="{grey:item.book_status,pickone:!item.book_status && item.pick}"
          >
            <p>
              <span>{{item.time_start}}</span>
              <span>-</span>
              <span>{{item.time_end}}</span>
            </p>
          </li>
        </ul>

        <div style="margin: 0.4rem auto 0.6rem; width: 5.3rem;">
          <p
            style="
              width: 5.3rem;
              height: 0.6rem;
              line-height: 0.6rem;
              text-align: center;
              color: #e32b31;
            "
          >
            {{reminder}}
          </p>
          <van-button round block type="info" @click="NextTOform">
            Next
          </van-button>
        </div>
        <p
          style="
            margin: 0 auto;
            width: 5.7rem;

            border-bottom: 1px solid #bcbcbc;
          "
        ></p>
        <p
          style="
            margin: 0 auto;
            padding: 0.7rem 0;
            width: 5.3rem;
            color: #e32b31;
            font-size: 0.22rem;
            line-height: 0.28rem;
          "
        >
          * Offers are subject to change at the discretion of Tomato Beans
          Creations Limited. without prior notice. Tomato Beans Creations
          Limited reserve the right of final decision when dispute arise
        </p>
        <!-- <van-datetime-picker
        v-model="currentDate"
        type="date"
        title="choose"
        :min-date="minDate"
        :max-date="maxDate"
      ></van-datetime-picker> -->
      </div>
    </template>
    <template id="FillOutForm">
      <div class="FillOutForm">
        <header style="position: relative;">
          <div
            style="
              position: absolute;
              width: 5.3rem;
              top: 3.3rem;
              box-shadow: 0px 0px 0.1rem #b4bccc;
              left: 50%;
              transform: translateX(-50%);
              background: white;
            "
          >
            <div
              v-show="!successful"
              class="timepick"
              style="
                height: 1.2rem;
                width: 5.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <p
                style="
                  color: #e32b31;
                  width: 100%;
                  font-weight: bold;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                "
              >
                <img
                  src="./pic/arrow.png"
                  style="height: 0.24rem; position: absolute; left: 0.4rem;"
                  alt=""
                  @click="goback"
                />
                <span>BOOKING DETAILS</span>
              </p>
            </div>
          </div>
        </header>
        <div
          style="
            margin: 0 auto;
            width: 5.7rem;
            height: 1px;
            background: rgb(188, 188, 188);
          "
        ></div>
        <div
          v-show="!successful"
          style="margin: 0 auto; margin-top: 0.16rem; width: 5.3rem;"
        >
          <van-form ref="checkbox" @submit="onSubmit">
            <van-field
              v-model="formdata.name"
              label="Name"
              name="name"
              placeholder="Enter your name"
              :rules="[{ required: true, message: 'Please enter' }]"
            ></van-field>
            <van-field
              v-model="formdata.email"
              label="E-mail"
              name="email"
              placeholder="Enter your E-mail"
              :rules="[{ validator, message:reminder}]"
            ></van-field>
            <van-field
              v-model="formdata.tel"
              type="tel"
              name="tel"
              label="phone number"
              placeholder="Enter your phone number"
              :rules="[{ required: true, message: 'Please enter'   }]"
            ></van-field>
            <p
              style="
                height: 0.3rem;
                line-height: 0.3rem;
                padding: 0 0.16rem;
                box-sizing: border-box;
                width: 5.3rem;
                color: #e32b31;
                font-size: 0.26rem;
              "
            >
              {{errorMsg}}
            </p>
            <div style="margin: 0.16rem;">
              <van-button round block type="info" native-type="submit">
                Submit
              </van-button>
            </div>
          </van-form>
        </div>
        <div
          v-show="successful"
          style="
            margin: 0 auto;
            margin-top: 0.16rem;
            width: 5.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          "
        >
          <img
            style="width: 1.58rem; height: 1.58rem; margin-bottom: 0.2rem;"
            src="./pic/successful.png"
            alt=""
          />
          <p style="font-size: 0.3rem; color: #6b6b6b; margin-bottom: 0.8rem;">
            successful appointment!
          </p>
          <a
            style="display: block; width: 100%;"
            href="http://www.mzjj.co.kr/privatesale/book.html#/homepage"
          >
            <van-button round block type="info">
              Confirm
            </van-button>
          </a>
        </div>

        <p
          style="
            margin: 0 auto;
            padding: 0.7rem 0;
            width: 5.3rem;
            color: #e32b31;
            font-size: 0.22rem;
            line-height: 0.28rem;
          "
        >
          * Offers are subject to change at the discretion of Tomato Beans
          Creations Limited. without prior notice. Tomato Beans Creations
          Limited reserve the right of final decision when dispute arise
        </p>
      </div>
    </template>

    <script>
      let baseurl = "http://www.mzjj.co.kr/index.php";
      // let baseurl = "http://192.168.1.22/index.php";
      var emailreg = /^[A-Za-z0-9]+([_\.][A-Za-z0-9]+)*@([A-Za-z0-9\-]+\.)+[A-Za-z]{2,6}$/;
      const dayAbbreviation = ["S", "M", "T", "W", "T", "F", "S"];
      const dayList = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
      const monthList = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      const monthLongList = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const enjs = {
        name: "Name",
        tel: "Phone",
        save: "Save",
        confirm: "Confirm",
        cancel: "Cancel",
        delete: "Delete",
        complete: "Complete",
        loading: "Loading...",
        telEmpty: "Please fill in the tel",
        nameEmpty: "Please fill in the name",
        nameInvalid: "Malformed name",
        confirmDelete: "Are you sure you want to delete?",
        telInvalid: "Malformed phone number",
        vanCalendar: {
          end: "End",
          start: "Start",
          title: "Calendar",
          startEnd: "Start/End",
          weekdays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          monthTitle: (year, month) => `${year}/${month}`,
          rangePrompt: (maxRange) => `Choose no more than ${maxRange} days`,
        },
        vanContactCard: {
          addText: "Add contact info",
        },
        vanContactList: {
          addText: "Add new contact",
        },
        vanPagination: {
          prev: "Previous",
          next: "Next",
        },
        vanPullRefresh: {
          pulling: "Pull to refresh...",
          loosing: "Loose to refresh...",
        },
        vanSubmitBar: {
          label: "Total：",
        },
        vanCoupon: {
          unlimited: "Unlimited",
          discount: (discount) => `${discount * 10}% off`,
          condition: (condition) => `At least ${condition}`,
        },
        vanCouponCell: {
          title: "Coupon",
          tips: "No coupons",
          count: (count) => `You have ${count} coupons`,
        },
        vanCouponList: {
          empty: "No coupons",
          exchange: "Exchange",
          close: "Close",
          enable: "Available",
          disabled: "Unavailable",
          placeholder: "Coupon code",
        },
        vanAddressEdit: {
          area: "Area",
          postal: "Postal",
          areaEmpty: "Please select a receiving area",
          addressEmpty: "Address can not be empty",
          postalEmpty: "Wrong postal code",
          defaultAddress: "Set as the default address",
          telPlaceholder: "Phone",
          namePlaceholder: "Name",
          areaPlaceholder: "Area",
        },
        vanAddressEditDetail: {
          label: "Address",
          placeholder: "Address",
        },
        vanAddressList: {
          add: "Add new address",
        },
      };
      vant.Locale.use("en-US", enjs);
      (function (designWidth, maxWidth) {
        var doc = document,
          win = window,
          docEl = doc.documentElement,
          remStyle = document.createElement("style"),
          tid;
        // console.log(docEl);

        function refreshRem() {
          var width = docEl.getBoundingClientRect().width;
          maxWidth = maxWidth || 540;
          width > maxWidth && (width = maxWidth);
          var rem = (width * 100) / designWidth;
          // console.log(rem);

          remStyle.innerHTML = "html{font-size:" + rem + "px !important;}";
        }

        if (docEl.firstElementChild) {
          docEl.firstElementChild.appendChild(remStyle);
          // console.log(docEl);
        } else {
          var wrap = doc.createElement("div");
          wrap.appendChild(remStyle);
          doc.write(wrap.innerHTML);
          wrap = null;
        }
        //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
        refreshRem();

        win.addEventListener(
          "resize",
          function () {
            clearTimeout(tid); //防止执行两次
            tid = setTimeout(refreshRem, 300);
          },
          false
        );

        win.addEventListener(
          "pageshow",
          function (e) {
            if (e.persisted) {
              // 浏览器后退的时候重新计算
              clearTimeout(tid);
              tid = setTimeout(refreshRem, 300);
            }
          },
          false
        );

        if (doc.readyState === "complete") {
          doc.body.style.fontSize = "16px";
        } else {
          doc.addEventListener(
            "DOMContentLoaded",
            function (e) {
              doc.body.style.fontSize = "16px";
            },
            false
          );
        }
      })(640, 1366);

      const pickdate = Vue.component("pickdate", {
        template: "#pickdate",
        data: function () {
          return {
            datepick: false,
            timeValue: null,
            minDate: new Date(2020, 07, 05),
            maxDate: new Date(2020, 07, 11),
            timeline: [],
            set_id: "",
            reminder: "",
            // currentDate: new Date(),
          };
        },
        created() {
          let datestart = new Date("2020/08/05");
          let datename = dayList[datestart.getDay()];
          this.timeValue = `${datename},2020-08-05`;
          this.initdata("2020-08-05");
        },
        methods: {
          initdata(val) {
            axios
              .post(
                `${baseurl}?route=rob/book/getDaySetting`,
                Qs.stringify({ change_day: val }),
                {
                  headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                  },
                }
              )
              .then((res) => {
                this.timeline = res.data.data;
                this.timeline.forEach((item) => {
                  item.pick = false;
                });
                this.set_id = "";
                this.reminder = "";
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
              })
              .catch((err) => {
                // console.log(err);
              });
          },
          NextTOform() {
            this.reminder = "";
            if (this.set_id) {
              this.$router.push({
                name: "FillOutForm",
                query: { set_id: this.set_id },
              });
            } else {
              this.reminder = "Please choose";
            }
          },
          pickPeriod(isok, idx, ispick, set_id) {
            // console.log(isok);
            if (!isok) {
              this.timeline.forEach((item) => {
                item.pick = false;
              });
              let a = this.timeline[idx];
              a.pick = !ispick;
              this.$set(this.timeline, idx, a);
              if (a.pick) {
                this.set_id = set_id;
              } else {
                this.set_id = "";
              }
            } else {
            }
          },
          datechange() {
            this.datepick = !this.datepick;
          },
          confirmdate(val) {
            this.datepick = false;
            let year = val.getFullYear();
            let month = val.getMonth() + 1;
            let day = val.getDate();
            let date = dayList[val.getDay()];
            if (month >= 1 && month <= 9) {
              month = `0${month}`;
            }
            if (day >= 1 && day <= 9) {
              day = `0${day}`;
            }
            this.timeValue = `${date},${year}-${month}-${day}`;
            let dat = `${year}-${month}-${day}`;

            this.initdata(dat);
          },
        },
      });
      const FillOutForm = Vue.component("FillOutForm", {
        template: "#FillOutForm",
        data: function () {
          return {
            successful: false,
            formdata: {
              name: "",
              tel: "",
              email: "",
            },
            errorMsg: "",
            set_id: null,
          };
        },
        created() {
          this.set_id = parseInt(this.$route.query.set_id) || null;
        },
        mounted() {},
        methods: {
          gohome() {
            // window.location.href="http://www.mzjj.co.kr/vueHtml/vuehtml.html#/homepage";
          },
          reminder(value, rule) {
            if (!value) {
              return "Please enter";
            } else return "Email Format is incorrect";
          },
          validator(val) {
            this.errorMsg = "";
            if (!val) {
              return false;
            } else if (val) {
              return emailreg.test(val);
            }
          },
          goback() {
            this.$router.push({
              name: "pickdate",
              // query: obj
            });
          },
          secSumbit(values) {
            let obj = Object.assign({ set_id: this.set_id }, values);
            axios
              .post(`${baseurl}?route=rob/book/addBook`, Qs.stringify(obj))
              .then((res) => {
                if (res.data.ret === 0) {
                  this.successful = true;
                } else {
                  this.errorMsg = res.data.msg;
                }
              });
          },
          onSubmit(values) {
            this.errorMsg = "";
            //  let a=  this.$refs.checkbox.validateAll();

            axios
              .post(
                `${baseurl}?route=rob/book/checkTel`,
                Qs.stringify({ tel: values.tel })
              )
              .then((res) => {
                if (res.data.ret === 1) {
                  this.errorMsg = "*Invalid VIP number,please re-enter";
                  return;
                } else if (res.data.ret === 0) {
                  this.secSumbit(values);
                }
              });
          },
        },
      });
      const homepage = Vue.component("homepage", {
        template: "#homepage",
        data: function () {
          return {};
        },
        beforeRouteLeave(to, from, next) {
          // console.log(to, from);
          if (to.name == "FillOutForm") {
            next(false);
          } else {
            next();
          }
        },
        methods: {
          goto() {
            this.$router.push({
              name: "pickdate",
              // query: obj
            });
          },
        },
      });
      var routes = [
        {
          path: "/",
          redirect: {
            name: "homepage",
          },
        },
        {
          path: "*",
          // name: 'login',
          component: homepage,
        },
        {
          path: "/homepage",
          name: "homepage",
          component: homepage,
        },
        {
          path: "/pickdate",
          name: "pickdate",
          component: pickdate,
        },
        {
          path: "/FillOutForm",
          name: "FillOutForm",
          component: FillOutForm,
        },

        // {
        //  path: '/lee1',
        //  component: b,
        //  children: [
        //   {
        //    path: '',
        //    component: s
        //   },
        //   {
        //    path: 'c',//注意二级路由是不需要加/的
        //    component:c
        //   }
        //  ]
        // }
      ];
      var router = new VueRouter({
        // mode:'history',
        routes,
      });
      var testVue = new Vue({
        el: "#app",
        router,
        data() {
          return {
            loadingCount: 0,
            isShowLoading: false,
          };
        },
        computed: {
          ishome: function () {
            // console.log(this.$route);
            if (
              this.$route.name == "pickdate" ||
              this.$route.name == "FillOutForm"
            ) {
              return 1;
            } else {
              return 0;
            }
          },
        },
        methods: {
          addLoading() {
            this.isShowLoading = true;
            this.loadingCount++;
          },

          isCloseLoading() {
            this.loadingCount--;
            if (this.loadingCount === 0) {
              this.isShowLoading = false;
            }
          },
        },
        created() {
          let that = this;
          axios.interceptors.request.use(
            (config) => {
              // console.log(`${this.$baseurl}/bsl_admin_web/user/adminLogin.do`)
              // 在发送请求之前做些什么
              that.addLoading();
              return config;
            },
            function (error) {
              // 对请求错误做些什么
              that.isShowLoading = false;
              that.loadingCount = 0;
              return Promise.reject(error);
            }
          );
          axios.interceptors.response.use(
            (res) => {
              that.isCloseLoading();
              return res;
              // if (res.data && res.data.resultCode) {
              //   let code = res.data.resultCode;
              //   return res;
              // }
            },
            (error) => {
              this.isShowLoading = false;
              this.loadingCount = 0;
              return Promise.reject(error);
            }
          );
        },
        watch: {
          $route: function (to, from) {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          },
        },
      });
    </script>

    <style>
      #app {
        width: 100%;
        height: 100%;
        font-size: 0.26rem;
        position: relative;
        /* background: black; */
      }
      .van-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 666;
        color: #e32b31;
        font-size: 0;
        vertical-align: middle;
      }
      .van-cell {
        /* font-size: 0.26rem; */
      }
      .pickdate .pickone {
        border-color: #9c0c10;
        /* color: #9c0c10; */
      }
      .pickdate .van-calendar__header-title {
        font-size: 0.28rem;
      }
      .pickdate .van-button--info {
        background-color: #e32b31;
        border: 1px solid #e32b31;
      }
      .pickdate .van-button {
        height: 0.6rem;
        font-weight: bold;
      }
      .van-calendar__header-subtitle {
        font-size: 0.24rem;
      }
      .van-calendar__header-subtitle,
      .van-calendar__header-title,
      .van-calendar__month-title {
        height: 0.44rem;
        font-weight: 500;
        line-height: 0.44rem;
        text-align: center;
      }
      .van-calendar__weekday {
        font-size: 0.24rem;
      }
      .van-calendar__day {
        font-size: 0.24rem;
      }
      .van-calendar__month-title {
        font-size: 0.24rem;
      }
      .pickdate .van-calendar__confirm {
        height: 0.6rem;
        margin: 0.07rem 0;
      }
      .van-button--normal {
        font-size: 0.28rem;
        font-weight: bold;
      }
      header {
        height: 4.8rem;
      }
      .FillOutForm .van-cell {
        font-size: 0.26rem;
        padding: 0.16rem;
        box-sizing: border-box;
        line-height: 0.38rem;
      }
      .FillOutForm .van-field__label {
        font-weight: bold;
      }
      .FillOutForm .van-field__error-message {
        font-size: 0.22rem;
      }
      .FillOutForm .van-button {
        height: 0.6rem;
        font-weight: bold;
      }
      .timeperiod {
        border-radius: 10px;
        width: 100%;
        border: 3px solid white;
        height: 1.2rem;
        background: #e32b31;
        margin-bottom: 1px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .grey {
        background: #dfdfdf;
      }
      .FillOutForm .van-button--info {
        background-color: #e32b31;
        border: 1px solid #e32b31;
      }
      .van-overlay {
        background: white;
        opacity: 0.5;
      }
      .van-toast {
        background: none;
      }
      .van-toast__loading {
        color: #e32b31;
      }
      .van-loading__spinner {
        height: 0.5rem;
        width: 0.5rem;
      }
      .my-swipe .van-swipe-item {
        /* color: #fff;
        font-size: 20px;
        line-height: 150px;
        text-align: center;
        background-color: #39a9ed; */
      }
    </style>
  </body>
</html>
